@import 'variables';
@import 'titles';
@import 'forms';
@import 'blocks/firstBlock';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/consultation';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'mobile/media';
@import 'mobile/mediaCont';

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}