.benefits {
    min-height: 420px;
    background-color: #f6f6f6;
    padding: 70px 0 95px 0;
    &__title {
        text-align: center;
        color: #0d0d0d;
        font-family: 'Museo Sans 700 Bold';
        font-size: 30px;
        margin-bottom: 0;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        .item {
            width: 239px;
            .icon {
                display: block;
                margin: 0 auto;
            }
            .title {
                margin-top: 38px;
                color: #0d0d0d;
                font-family: 'Museo Sans 700 Bold';
                font-size: 18px;
                text-align: center;
                margin-bottom: 0;
            }
            .descr {
                margin-top: 26px;
                color: #0d0d0d;
                font-family: 'Museo Sans 500 Medium';
                font-size: 14px;
                text-align: center;
                a {
                    color: $main_color;
                }
            }
        }
    }
}